html body {
  max-width: 10000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  display: none;
}
.custom-image {
    width: 70%;
    display: block;
    margin: 0 auto; /* Center the image */
    border: 1px solid #ccc;
}
