body {
  max-width: 5000px; /* Set the maximum width of the body */
  margin: 0 auto; /* Center the content */
  padding: 20px; /* Add some padding */
}

h1 {
  display: none;
}
.custom-image {
    width: 70%;
    display: block;
    margin: 0 auto; /* Center the image */
    border: 1px solid #ccc;
}
